/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    font-family: Arial, sans-serif;
    background-image: url('CodemistBg.jpg');
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #circle {
    height: 100px;width: 100px;
    background: linear-gradient(120deg, rgb(222, 115, 0), rgb(110, 66, 0));
    border-radius: 100px;
    z-index: 10;
    position: absolute;left:30%;top: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.332);
  }
  #circle2 {
    height: 200px;width: 200px;
    background: linear-gradient(120deg, rgb(222, 115, 0), rgb(110, 66, 0));
    border-radius: 100px;
    z-index: 0;
    position: absolute;left:57%;top: 45%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.332);
  }
  /* Container */
  .container {
    width: 400px;
    background: #ffffff45;
    border-radius: 19px;
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  /* Form Box */
  .form-box {
    padding: 20px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
  }
  
  /* Button Box */
  .button-box {
    display: flex;
    justify-content: space-between;
    
  }
  
  .toggle-button {
    
    flex: 1;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
    background: #00000046;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    transition: background 0.3s;
    
  }
  
  .toggle-button:hover {
    background: #c67400;
    color: white;
  }
  #loginbtn {
    background-color: rgba(0, 0, 0, 0.326);
    border-radius:20px 0px 0px 20px ;
  }
  #loginbtn:hover {
    background: #c67400;
    color: white;
  }
  #signupbtn {
    background-color: rgba(0, 0, 0, 0.326);
    border-radius:0px 20px 20px 0px ;
  }
  #signupbtn:hover {
    background: #c67400;
    color: white;
  }
  
  /* Form Styles */
  .form-container {
    position: relative;
    width: 200%;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cccccc00;
    backdrop-filter: blur(40px);
    border-radius: 15px;
    background-color: #ffffff9b;
  }
  
  .form button {
    width: 80%;
    padding: 10px;
    background: #9d7524;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .form button:hover {
    background: #040404;
  }
  
  /* Active Form */
  .form.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .form:not(.active) {
    opacity: 0;
    pointer-events: none;
  }
  